<app-nav class="nav"></app-nav>
<div style="height: 5vh" class="p-3 mb-2 bg-secondary text-white">
  <div style="margin-top: auto; margin-bottom: auto">
    <h2 class="text-center align-middle">Your Purchase History</h2>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Game Name</th>
      <th scope="col">Genre</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games">
      <td><img [src]="game.gameId.img" /></td>
      <td class="text-white">{{ game.gameId.name }}</td>
      <td class="text-white" *ngFor="let g of game.gameId.genre | keyvalue">
        {{ g.value }}
      </td>
      <td class="text-white">{{ game.gameId.price | currency }}</td>

      <td class="text-white">{{ game.p_date }}</td>
    </tr>
  </tbody>
</table>
