<div style="height: 20vh" class="p-3 mb-2 bg-dark text-white">
  <div style="margin-top: auto; margin-bottom: auto">
    <h2 class="text-center align-middle">Game Store</h2>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Game Name</th>
      <th scope="col">Genre</th>
      <th scope="col">Price</th>
      <th scope="col">Cart</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games">
      <td><img [src]="game.img" /></td>
      <td>{{ game.name }}</td>
      <td *ngFor="let g of game.genre | keyvalue">{{ g.value }}</td>
      <td>{{ game.price | currency }}</td>
      <td>
        <button type="button" class="btn btn-primary">Add to Cart</button>
      </td>
    </tr>
  </tbody>
</table>
