<h1 class="text-center align-middle text-white">Welcome to Vapor</h1>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="login-container bg-dark">
      <h3>Employee Login</h3>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <label for="username">Username</label><br />
        <input
          type="text"
          placeholder="Username..."
          id="username"
          formControlName="username"
          required
        /><br />
        <label for="password">Password</label><br />
        <input
          type="password"
          placeholder="Password..."
          id="password"
          formControlName="password"
          required
        /><br />
        <button type="submit" class="btn btn-primary" id="submitbtn">
          Login
        </button>
      </form>
      <span>
        <button id="back" class="btn btn-danger" (click)="goBack()">
          Go Back
        </button>
      </span>
    </div>
  </div>
</div>
