<h1>Welcome to Vapor</h1>
<div class="login-container">
  <h3>Employee Login</h3>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label for="username">Username</label><br />
    <input
      type="text"
      placeholder="Username..."
      id="username"
      formControlName="username"
      required
    /><br />
    <label for="password">Password</label><br />
    <input
      type="password"
      placeholder="Password..."
      id="password"
      formControlName="password"
      required
    /><br />
    <button type="submit" id="submitbtn">Login</button>
  </form>
  <span>
    <button id="back" (click)="goBack()">Go Back</button>
  </span>
</div>
